.form-wrapper {
  height: auto;
  background-color: white;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  .form-container {
    width: 100%;
    height: 100%;

    input[type='password']::-ms-reveal {
      display: none;
    }
  }
}

body.dark-mode .form-wrapper {
  background-color: #2d3748;
}
